.alerts-panel {
  flex: 1; /* takes 1/5 of width */
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.alerts-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow-y: auto;
  max-height: 75vh; /* or whatever height fits your layout */
  padding-right: 0.25rem; /* gives space for scrollbar */
}

/* Custom scrollbar */
.alerts-list::-webkit-scrollbar {
  width: 6px;
}
.alerts-list::-webkit-scrollbar-thumb {
  background: hsl(222, 30%, 30%);
  border-radius: 10px;
}

.alert-card {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background: #0b0b0b0a;
}

.alert-card-breach {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border: 2px solid red;
  border-radius: 8px;
  background: #0b0b0b0a;
}

.alert-card-loitering {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border: 2px solid yellow;
  border-radius: 8px;
  background: #0b0b0b0a;
}

.alert-card-running {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background: #0b0b0b0a;
}

.alert-image {
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.alert-meta {
  display: flex;
  flex-direction: column;
}

.alert-title {
  font-weight: 600;
}

.alert-zone {
  font-size: 0.9rem;
  /*color: #ef4444;*/
  font-weight: 600;
}

.alert-empty {
  color: #6b7280;
}

/* NEW CLASSES */
.alert-type-breach {
  color: #ef4444; /* Red */
}

.alert-type-loitering {
  color: #ffff00; /* Blue */
  border-color: #ffff00;
}

.alert-empty {
  color: #6b7280;
}

.alert-type-running {
  color: #ffff00; /* Amber-500: A nice readable yellow/orange */
}